html {
  margin: 0;
  padding: 0;
  outline: 0;
}
.container1 {
  margin: 0 auto;
  padding: 0;
  width: 95%;
}
#returnCopyright {
  text-align: center;
  color: rgb(26, 26, 26);
}

.text {
  outline: 0;
  margin: auto 0;
}
.image {
  outline: 0;
  margin: auto 0;
}

h1 {
  font-family: "Abril Fatface", cursive;
}
span {
  font-family: "Montserrat", cursive;
  color: rgb(97, 97, 97);
}
p {
  font-family: "Montserrat", cursive;
}
